
@mixin primary-input($margin-start , $margin-end,$img-top, $img-left){
    position: relative;
    > input {
        margin-block: $margin-start $margin-end;
        padding : 10px;
        font-size: 16px;
        width : 300px;
        border : none;
        border-radius: 5px;
        background-color : $input-bg-color;
        text-align: right;
        cursor: pointer;
        font-family: 'Space Mono',sans-serif;
        font-weight: $font-weight;
        color: $btn-color ;
        font-size: 18px;

        :focus{
            outline: none;
        }

        }
    

        > img {
            position: absolute;
            top : $img-top;
            left : $img-left;
        }

}

