$btn-color : hsl(183, 100%, 15%);
$bg-color : hsl(185, 41%, 84%) ;
$input-bg-color: hsl(189, 41%, 97%);
$font-weight: 700;
$font-family: 'Space Mono',sans-serif;

@import 'input';
@import 'media';

body {
    background-color:  $bg-color ;
}

.header{
   display: flex;
   justify-content: center;
   margin-block: 50px;
}

.mainContainer{
    background-color : #fff;
    border-radius : 20px;
}

.topSection{
    padding: 30px;

}

.inputContainer { 
    @include primary-input(0px,40px,15px,15px);
}

.btnContainer  {
    display : grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap : 15px;
    margin-bottom: 40px;

    > input {
        border : none;
        padding : 10px;
        background-color: $input-bg-color;
        border-radius: 5px;
    }

    > button {
        padding : 10px;
        border: none;
        border-radius: 5px;
        background-color : $btn-color ;
        color : #fff;
        font-size: 20px;
        font-family: $font-family;
        font-weight: $font-weight;
        cursor: pointer;

        :active{
            background-color: $bg-color ;
            color : $btn-color ;
        }
    }
    
}

.peopleWrapper {
    @include primary-input(10px,40px,20px,20px);
}

.bottomSection{
    background-color: $btn-color ;
    border: none;
    border-radius: 20px;
    padding-block : 50px 20px;
    padding-inline : 20px;
}

.desc {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

    > p{
        font-size: 20px;
        font-family: $font-family;
        color : #fff;
        font-weight: $font-weight;
        > span {
            opacity: 0.5;
        }
    }

    div {
        font-size: 30px;
        font-family: $font-family;
        color : hsl(184, 14%, 56%);
        font-weight: $font-weight;
    }
}

.reset {
    padding : 15px;
    border: none;
    border-radius: 5px;
    background-color: hsl(184, 14%, 56%);
    font-size: 16px;
    color : $btn-color ;
    font-weight: $font-weight;
    width : 280px;
    cursor: pointer;
}
