$btn-color : hsl(183, 100%, 15%);
$bg-color : hsl(185, 41%, 84%) ;
$input-bg-color: hsl(189, 41%, 97%);
$font-weight: 700;
$font-family: 'Space Mono',sans-serif;

@import 'input';

body {
    background-color:  $bg-color ;
}

.header{
   display: flex;
   justify-content: center;
   margin-block: 50px;
}

.mainContainer{
    background-color : #fff;
    border-radius : 20px;
}

.topSection{
    padding: 30px;

}

.inputContainer { 
    @include primary-input(0px,40px,15px,15px);
}

@import 'tip-amount-selction';

.peopleWrapper {
    @include primary-input(10px,40px,20px,20px);
}

@import 'amount-preview';
@import 'media';
